header{
  height: 100vh;
  padding: 10px;

  .menu {
    display: flex;
    justify-content: space-around;
   
    padding: 1em 2em;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: #666;
  transition: color 0.3s ease-out;
  border-right: 1px solid #aaa;;
  border-left: 1px solid #aaa;;
  border-bottom: 1px solid #aaa;;
  border-top: 1px solid #aaa;;
  }
}