body {
    padding-left: 11em;
    font-family: "Times New Roman", Times, serif;
    color: black;
    background-color: lightgrey
  }

@import "components/buttons";

@import "layout/header";
@import "layout/main";
@import "layout/footer";