 * {
    margin: 0;
    padding: 0;
   }

@import "components/buttons";
@import"components/text";

@import "layout/header";
@import "layout/main";
@import "layout/footer";
@import "layout/line";
@import "layout/container1";
@import"layout/scale";

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }  
}